  .my-namespace-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  @media (min-width: 600px) {
    .my-namespace-grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  .my-namespace-grid-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .my-namespace-grid-item iframe {
    width: 100%;
  }